[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
alembic = "*"
fastapi-sso = "*"
sqlalchemy = "*"
python-dotenv = "*"
python-multipart = "*"
numpy = "*"
pyjwt = "*"
requests = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
